
import io.terminus.paas.common.model.Paging
import io.terminus.paas.common.model.pagingList
import org.springframework.stereotype.Service

#ImportPackage(${model})
#ImportPackage("${model}Service")

/**
 *
 * @author $!{email}
 * @date ${NOW}
 * Created by CodeGen .
 */
@Service
class ${model}ServiceImpl : ${model}Service {

    override fun create(#LowerCase(${model}): ${model}): Long {
        #LowerCase(${model}).insert()
        return #LowerCase(${model}).id!!
    }

    override fun update(#LowerCase(${model}): ${model}) {
        #LowerCase(${model}).update()
    }

    override fun delete(id: Long) {
        ${model}.find.deleteById(id)
    }

    override fun findById(id: Long): ${model}? {
        return ${model}.find.byId(id)
    }

    override fun paging(pageNo: Int, pageSize: Int): Paging<${model}> {
        return ${model}.find.pagingList(pageNo, pageSize)
    }
}