
import io.terminus.paas.common.model.Paging

/**
 * ${modelName}服务接口
 * @author ${email}
 * @date ${Now}
 * Created by CodeGen .
 */
interface ${model}Service {

    fun create(#LowerCase(${model}): ${model}): Long

    fun update(#LowerCase(${model}): ${model})

    fun delete(id: Long)

    fun findById(id: Long): ${model}?

    fun paging(pageNo: Int, pageSize: Int): Paging<${model}>
}