
import io.terminus.paas.common.model.Paging

#ImportPackage(${model})

/**
 *
 * @author $!{email}
 * @date ${NOW}
 * Created by CodeGen .
 */
interface ${model}Service {

    fun create(#LowerCase(${model}): ${model}): Long

    fun update(#LowerCase(${model}): ${model})

    fun delete(id: Long)

    fun findById(id: Long): ${model}?

    fun paging(pageNo: Int, pageSize: Int): Paging<${model}>
}