
import java.util.Map;
import java.util.List;

#ImportPackage(${model})

/**
 *
 * @author $!{email}
 * @date ${NOW}
 * Created by CodeGen .
 */
public interface ${model}ReadService {

    /**
     * 查询
     * @param id
     * @return #LowerCase(${model})

     */
    ${model} findById(Long id);

}