
#ImportPackage(${model})

/**
 *
 * @author $!{email}
 * @date ${NOW}
 * Created by CodeGen .
 */
public interface ${model}WriteService {

    /**
     * 创建
     * @param #LowerCase(${model})

     * @return Boolean
     */
    Long create(${model} #LowerCase(${model}));

}