
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

#ImportPackage(${model})
#ImportPackage("${model}WriteService")
#ImportPackage("${model}Dao")

/**
 * $!{comment}写服务实现类
 * @author $!{email}
 * @date ${NOW}
 * Created by CodeGen .
 */
@Service
public class ${model}WriteServiceImpl implements ${model}WriteService {

    @Autowired
    private ${model}Dao #LowerCase(${model})Dao;

    @Override
    public Long create(${model} #LowerCase(${model})) {
        try{
            #LowerCase(${model})Dao.create(#LowerCase(${model}));
            return #LowerCase(${model}).getId();
        }catch (Exception e){
            // for example
            return 1L;
        }
    }

}