
import io.terminus.common.mysql.dao.MyBatisDao;

import org.springframework.stereotype.Repository;

#ImportPackage(${model})

/**
 *
 * @author $!{email}
 * @date ${NOW}
 * Created by CodeGen .
 */
@Repository
public class ${model}Dao extends MyBatisDao<${model}> {

}
