
import lombok.Data;

import java.io.Serializable;
import java.util.Date;

/**
 *
 * @author $!{email}
 * @date ${NOW}
 * Created by CodeGen .
 */
@Data
public class ${model} implements Serializable {

    private static final long serialVersionUID = ${serialVersionUID}L;

    /**
     * 自增主键
     */
    private Long id;
    #foreach($item in $fields)

    /**
     * ${item.comment}
     */
    private ${item.fieldType} ${item.field};
    #end

    /**
     * 创建时间
     */
    private Date createdAt;

    /**
     * 更新时间
     */
    private Date updatedAt;

}